<h1>Restaurants</h1>
<h2>Here you can manage your restaurant: you can add another one, update or delete an existing.</h2>
<div *ngIf="!isLoaded">

</div>
<p *ngIf="isLoaded">
  <header>
    <div class="form-group">
      <i class="material-icons">search</i>
      <input type="text"
             placeholder="Find restaurant"
             class="form-control"
             (keyup)='keyUp.next($event)'>
    </div>
    <button class="btn btn-primary"
            routerLink="/add-restaurant">
      New restaurant</button>
  </header>
<div class="nb-count">
  {{getNbLabel()}}
</div>
<ul class="restaurants"
    *ngIf="filteredRestaurants.length>0">
  <li *ngFor="let restaurant of filteredRestaurants;">
    <app-card [restaurant]="restaurant"
              (deleteRestaurantEmitter)="onDeleteRestaurant()"></app-card>
  </li>
</ul>
